@@KittyNet Config@@

#Colors
default_background_color=dark-gray
default_foreground_color=white

default_webpage_color=default
default_webpage_background_color=default

default_link_foreground=blue
default_link_background=web_default

default_hover_link_foreground=white
default_hover_link_background=blue

#UI
use_panels=true
use_custom_char=█

#Navigation
key_scroll_up=up
key_scroll_down=down
key_toggle_urlbar=f1
key_toggle_source=f2
key_toggle_console=f3
key_toggle_back=f4
key_toggle_reload=f5
key_toggle_next_element=>
key_toggle_prev_element=<
key_interact=enter
